#
# Project
#
files/config.ini

#
# General
#
*~
*.swp

#
# Python
#
__pycache__
*.pyc

#
# IDE
#
.idea

#
# TeX
#
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz